/* tipos de letra */
.key1-tarjeta {
  background-image: url("../recursos/pistolacalor.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

.key2-tarjeta {
  background-image: url("../recursos/trompito.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

.key3-tarjeta {
  background-image: url("../recursos/taladro.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

.key4-tarjeta {
  background-image: url("../recursos/sensitiva.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

.key5-tarjeta {
  background-image: url("../recursos/amoladora.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

.key6-tarjeta {
  background-image: url("../recursos/soldadora.jpg");
  background-size: cover;
  width: 16rem;
  height: 17rem;
  background-color: green; }

h1 {
  font-size: size;
  color: #5900ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h2 {
  font-size: size;
  color: #5900ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

h3 {
  font-size: size;
  color: #5900ff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.header__navegacion {
  padding: 0.3rem;
  border-radius: 10px;
  flex-grow: 1; }

.header__referencias {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

li {
  font-family: 'Oswald', sans-serif;
  padding: 20px; }

a {
  text-decoration: none;
  color: black; }

.footer__disclaimer {
  text-align: center;
  font-family: 'Oswald', sans-serif; }

.footer__redes {
  font-family: 'Oswald', sans-serif;
  text-align: center; }

.footer__logos {
  text-align: right; }

li {
  display: inline; }

/* .boton{
    display: flex;
    flex-direction:column; 
    align-items: center;
    color: rgb(27, 23, 23);
    background-color: rgb(190, 162, 216);    
    border-radius: 1rem;
    width: 100%;    
    border-bottom: 5rem;
    padding: 0.8rem;
    font-size: medium;
} */
.btn:hover {
  transform: scale(1.2);
  transition: all 3s;
  background-color: #fcec16;
  cursor: pointer; }

@media (min-width: 320px) and (max-width: 540px) {
  /*cambios estructurales*/
  .grid__historia {
    grid-template-columns: 1fr;
    grid-template-areas: "imagen"  "textouno"  "textodos" "textotres"  "textotres"  "textotres" "imagendos" "imagentres" "imagencuatro";
    background-color: darkorange; }
  .producto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .envios {
    width: 85vw;
    margin: 0.5rem; }
  .miniflete {
    width: 10vw;
    height: 10vh; }
  .img__venta {
    width: 30vw;
    height: 30vh; }
  .herramientas__productos {
    width: 70vw;
    height: 55vh; }
  iframe {
    width: 40vw;
    height: 30vh; } }

@media (min-width: 541px) and (max-width: 720px) {
  /*cambios estructurales*/
  .grid__historia {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen textouno"  "textodos textotres" "imagendos imagentres" "imagencuatro imagencuatro";
    background-color: chartreuse; }
  .producto {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .envios {
    width: 90vw; } }

@media (min-width: 541px) and (max-width: 720px) and (min-width: 320px) and (max-width: 540px) {
  .formulario {
    width: 80vw; }
    .formulario .main__formularioNombre {
      width: 80vw; }
    .formulario .main__formularioMail {
      width: 80vw; }
    .formulario .main__formularioTelefono {
      width: 80vw; }
    .formulario .main__formularioComentario {
      width: 80vw; }
    .formulario .main__enviar {
      width: 50vw; }
    .formulario .main__limpiar {
      width: 50vw; } }

@media (min-width: 541px) and (max-width: 720px) {
  .img__venta {
    width: 20vw;
    height: 20vh; }
  .herramientas__productos {
    width: 60vw;
    height: 60vh; }
  iframe {
    width: 40vw;
    height: 40vh; } }

* {
  margin: 0px;
  padding: 0px; }

body {
  background-color: darkgrey; }

.bg-gris {
  background-color: #be97ac; }

.nav-link {
  color: white; }

.navbar-toggler {
  border-color: white; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); }

li {
  font-family: "Oswald", sans-serif;
  padding: 0.7rem; }
  li a {
    text-decoration: none;
    color: black; }

/* main */
.portada {
  margin: 30px;
  display: flex;
  justify-content: space-between; }
  .portada__mapa {
    margin: 10px;
    width: 25vw;
    height: 25vh;
    border-radius: 10px; }
  .portada__horarios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #7e79b6;
    width: 40vw;
    font-family: "Oswald", sans-serif;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem; }
  .portada__telefono {
    border-radius: 10px;
    width: 3vw;
    height: 4vh; }

.titulo__destacado {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }

.herramientas {
  display: flex;
  font-family: "Oswald", sans-serif;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center; }
  .herramientas__productos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #e7ebee;
    margin: 1rem;
    padding: 1.7rem;
    width: 20vw;
    height: 100vh;
    border: 4px ridge black;
    border-radius: 1rem; }

.btn:hover {
  transform: scale(1.2);
  transition: all 3s;
  background-color: #fcec16;
  cursor: pointer; }

.card {
  border-radius: 2rem; }
  .card-img-top {
    border-radius: 2rem; }
  .card-body {
    background-color: #e7ebee;
    border-radius: 2rem; }

.ayuda {
  display: flex;
  margin: 1rem;
  background-color: #7e79b6;
  flex-direction: column;
  border-radius: 1rem;
  background: #7ea0b4;
  background: -moz-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: -webkit-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1); }
  .ayuda__descripcion {
    text-align: center;
    font-family: "Oswald", sans-serif;
    border-radius: 1rem;
    margin: 1rem; }
  .ayuda__video {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 1rem;
    padding: 1rem; }
  .ayuda iframe {
    border-radius: 2rem;
    margin: 1rem; }

.footer__disclaimer {
  text-align: center;
  font-family: "roboto", "oswald", sans-serif; }
  .footer__disclaimer__redes {
    text-align: center; }
  .footer__disclaimer__logos {
    text-align: right; }

.imagenFondo {
  background-image: url(../recursos/flag-of-argentina.png);
  background-size: 100vw 100vh;
  background-attachment: fixed; }
  .imagenFondo .main__titulo {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    margin-bottom: 10px;
    color: black; }

.formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(17, 16, 16, 0.2);
  margin: auto;
  padding: 1rem;
  width: 25rem;
  border-radius: 20px; }
  .formulario .main__formularioNombre {
    width: 23rem;
    margin: 1rem;
    height: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: none;
    text-align: center;
    border-radius: 0.5rem; }
  .formulario .main__formularioMail {
    width: 23rem;
    margin: 1rem;
    height: 5vh;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    border-radius: 0.5rem; }
  .formulario .main__formularioTelefono {
    width: 23rem;
    margin: 1rem;
    height: 5vh;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    text-align: center;
    border-radius: 0.5rem; }
  .formulario .main__formularioComentario {
    width: 24rem;
    background-color: white;
    text-align: center;
    border: none;
    margin: 1rem;
    min-height: 100px;
    max-height: 200px;
    max-width: 23rem;
    border-radius: 0.5rem; }
  .formulario label {
    color: #f0fff2;
    font-family: Arial, Helvetica, sans-serif; }
  .formulario .main__formularioNewsletter {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue; }
  .formulario .main__boton {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  .formulario .main__enviar {
    width: 18rem;
    font-size: medium;
    background-color: #d9eef7;
    margin: 10px;
    border-radius: 7rem; }
  .formulario .main__enviar:hover {
    transform: scale(1.2);
    background-color: green; }
  .formulario .main__limpiar {
    width: 18rem;
    font-size: medium;
    background-color: #d9eef7;
    margin: 10px;
    border-radius: 7rem; }
  .formulario .main__limpiar:hover {
    transform: scale(1.2);
    background-color: red; }

@media (min-width: 320px) and (max-width: 540px) {
  .formulario {
    width: 80vw; }
    .formulario .main__formularioNombre {
      width: 80vw; }
    .formulario .main__formularioMail {
      width: 80vw; }
    .formulario .main__formularioTelefono {
      width: 80vw; }
    .formulario .main__formularioComentario {
      width: 80vw; }
    .formulario .main__enviar {
      width: 50vw; }
    .formulario .main__limpiar {
      width: 50vw; } }

.envios {
  background: #7ea0b4;
  background: -moz-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: -webkit-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem;
  border-radius: 1.5rem;
  padding: 1rem; }
  .envios__titulo {
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    margin-bottom: 4rem; }

.grid__historia {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  background: #7ea0b4;
  background: -moz-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: -webkit-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1);
  border-radius: 2rem;
  gap: 1 rem;
  padding: 2rem;
  font-size: 1rem;
  margin: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "imagen textouno textodos" "textotres textotres textotres" "imagendos imagentres imagencuatro";
  text-align: center; }

.img__ferreteria {
  grid-area: imagen; }

.grid__historiauno {
  grid-area: textouno; }

.grid__historiados {
  grid-area: textodos; }

.grid__historiatres {
  grid-area: textotres; }

.gridhistoria__imagenesDos {
  grid-area: imagendos; }

.grid__cinco {
  width: 20vw; }

.gridhistoria__imagenesTres {
  grid-template-columns: imagentres; }

.grid__seis {
  width: 20vw; }

.gridhistoria__imagenesCuatro {
  grid-area: imagencuatro; }

.grid__siete {
  width: 20vw; }

.img__ferreteria {
  width: 20vw; }

@media (min-width: 320px) and (max-width: 540px) {
  /*cambios estructurales*/
  .grid__historia {
    grid-template-columns: 1fr;
    grid-template-areas: "imagen"  "textouno"  "textodos" "textotres"  "textotres"  "textotres" "imagendos" "imagentres" "imagencuatro";
    background-color: darkorange; } }

@media (min-width: 541px) and (max-width: 720px) {
  /*cambios estructurales*/
  .grid__historia {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imagen textouno"  "textodos textotres" "imagendos imagentres" "imagencuatro imagencuatro";
    background-color: chartreuse; } }

.titulo__producto {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem; }

.producto {
  display: grid;
  justify-items: center;
  background: #7ea0b4;
  background: -moz-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: -webkit-linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  background: linear-gradient(90deg, #7ea0b4 0%, #f4f4f4 49%);
  border-radius: 2rem;
  transform: scale(1.2);
  cursor: pointer; }

.img-fluid {
  border-radius: 2rem; }

.definicionProducto {
  text-align: justify; }

.botonProducto {
  margin-left: 3rem; }
