/* .boton{
    display: flex;
    flex-direction:column; 
    align-items: center;
    color: rgb(27, 23, 23);
    background-color: rgb(190, 162, 216);    
    border-radius: 1rem;
    width: 100%;    
    border-bottom: 5rem;
    padding: 0.8rem;
    font-size: medium;
} */

.btn:hover{
    transform: scale(1.2);
    transition: all 3s;
    background-color: rgb(252, 236, 22);
    cursor: pointer;
}