li{ display: inline;
}
.footer__disclaimer{
    text-align: center;
    font-family: $font-footer;}
.footer__redes{
            text-align: center;
    }
.footer__logos{
            text-align: right;
        }
