.footer__disclaimer{
    text-align: center;
    font-family:'Oswald', sans-serif ;
}

.footer__redes{
    font-family: 'Oswald', sans-serif ;
    text-align: center;
}

.footer__logos{
    text-align: right;
}

li{ display: inline;
}