$herramientas: (key1: pistolacalor, key2: trompito, key3: taladro, key4:sensitiva, key5:amoladora, key6:soldadora);

@each $key, $herramienta in $herramientas{
    .#{$key}-tarjeta {
        background-image: url('../recursos/#{$herramienta}.jpg');
        background-size: cover;
        width: 16rem;
        height: 17rem;
        background-color: green;
    }
}

$sizes: (h1: 4rem, h2: 3rem, h3: 1rem);

@each $titulo, $size in $sizes{
    #{$titulo}{font-size: #{size};
    color: rgb(89, 0, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
}