@media (min-width: 320px) and (max-width: 540px){
    .formulario{
        width:80vw;
        .main__formularioNombre{
            width: 80vw;
        }
        .main__formularioMail{
            width: 80vw;
        }
        .main__formularioTelefono{
            width: 80vw;
        }
        .main__formularioComentario{
            width: 80vw;
        }
        .main__enviar{
            width: 50vw;
        }
        .main__limpiar{
            width: 50vw;
        }
    }
    .grid__historia{ 
        grid-template-columns:  1fr;
        grid-template-areas: 
        "imagen" 
        "textouno" 
        "textodos"
        "textotres" 
        "textotres" 
        "textotres"
        "imagendos"
        "imagentres"
        "imagencuatro";
        }
        .grid__seis{
            display: none;
        }
        .grid__siete{
            display:none;
        }
        iframe{width: 30vw; height: 20vh;
        }
        .definicion__Producto{
            display: none;
        }
        .row{
            margin: auto;
            flex-direction: column;
            justify-content: center;
        }
        h2{ text-align: center;} 
        .boton__Producto{
            width: 25vw;
            margin-left: 1rem;
            margin-bottom: 1rem;
        }
        .container{
            text-align: center;
        }

}

@media (min-width: 541px) and (max-width: 720px) {
    /*cambios estructurales*/
    .grid__historia { 
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "textouno imagen" 
    "textodos textotres"
    "imagendos imagentres"
    "imagencuatro imagencuatro" ;
    }
    .grid__siete{
        display: none;
    }
    iframe{width: 40vw; height: 30vh;}
    .herramientas{
        justify-content: center;
    }
    .boton__Producto{
        text-align: center;
        width: 6rem;
        margin-bottom: 2rem;
    }
    .container{
        text-align: center;
    }
}

