@media (min-width: 320px) and (max-width: 540px) {
    /*cambios estructurales*/
.grid__historia{ 
    grid-template-columns:  1fr;
    grid-template-areas: 
    "imagen" 
    "textouno" 
    "textodos"
    "textotres" 
    "textotres" 
    "textotres"
    "imagendos"
    "imagentres"
    "imagencuatro";
    background-color: darkorange;
}
.producto{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.envios{
    width: 85vw;
    margin: 0.5rem; 
} 
.miniflete{
    width: 10vw;
    height: 10vh;
}
.formulario{
    width:80vw;
}
.main__formularioNombre{
    width: 80vw;
}
.main__formularioMail{
    width: 80vw;
}
.main__formularioTelefono{
    width: 80vw;
}
.main__formularioComentario{
    width: 80vw;
}
.main__enviar{
    width: 50vw
}
.main__limpiar{
    width: 50vw;
}
.img__venta{
    width: 30vw;
    height: 30vh;
}
.herramientas__productos{
    width: 70vw;
    height: 55vh;
}
iframe{
    width: 40vw;
    height: 30vh;
}
}

@media (min-width: 541px) and (max-width: 720px) {
    /*cambios estructurales*/
    .grid__historia { 
    grid-template-columns:  1fr 1fr;
    grid-template-areas: 
    "imagen textouno" 
    "textodos textotres"
    "imagendos imagentres"
    "imagencuatro imagencuatro" ;
    background-color: chartreuse;
} 
.producto{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}

.envios{
    width: 90vw;
}
.main__enviar{
    width: 40vh;
}
.main__limpiar{
    width: 40vh;
}
.img__venta{
    width: 20vw;
    height: 20vh;
}
.herramientas__productos{
    width: 60vw;
    height: 60vh;
}
iframe{
    width: 40vw;
    height: 40vh;
}
}