$color-principal: darkgrey;
$color-navegacion: rgb(190, 151, 172);
$color-letras-nav: white;
$color-titulo-principal: black;
$color-horario: rgb(126, 121, 182);
$color-cards: rgb(231, 235, 238);
$color-btn: rgb(252, 236, 22);
$color-btn-consulta: rgb(217, 238, 247);
$color-enviar-hover: green;
$color-limpiar-hover: red;
/* tipos de letra */
$font-navegacion: 'Oswald', sans-serif;
$font-titulo-destacado: Arial, Helvetica, sans-serif;
$font-footer: 'roboto', 'oswald', sans-serif;