@import 'variables';
@import 'helpers';
@import 'header';
@import 'footer';
@import 'boton';
@import 'mediaqueries';
*{margin: 0px;
    padding: 0px;   
}

body{background-color: $color-principal;
}

.portada{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    &__mapa{
        margin: 10px;
        width: 25vw;
        height: 25vh;
        border-radius: 10px; 
    }
    &__horarios{ 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $color-horario;
        width: 40vw;
        font-family: $font-navegacion; 
        border-radius:  1rem;
        text-align: center;
        padding: 1rem;
    }
    &__telefono{
        border-radius: 10px;
        width: 3vw;
        height: 4vh;
    }
}

.titulo__destacado{
    text-align: center;
    font-family: $font-titulo-destacado;
}

.herramientas{ 
    display: flex;
    font-family: $font-navegacion;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    &__productos{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        background-color: $color-cards;
        margin: 1rem;
        padding: 1.7rem;
        width: 20vw;
        height: 100vh;
        border: 4px ridge black;
        border-radius: 1rem;
    }
}

.card{
    border-radius: 2rem;
    &-img-top{
        border-radius: 2rem;
    }
    &-body{
        background-color: $color-cards;
        border-radius: 2rem;
    
    }
}

.ayuda{
    display: flex;
    margin:1rem;
    background-color: $color-horario;
    flex-direction: column;
    border-radius: 1rem;
    background: rgb(126,160,180);
    background: -moz-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: -webkit-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1); 
    &__descripcion{
        text-align: center;
        font-family: $font-navegacion;
        border-radius: 1rem;
        margin:1rem;
    }
    &__video{
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-around;
        align-items:stretch;
        margin: 1rem;
        padding: 1rem;
    }
    iframe{
        border-radius: 2rem;
        margin: 1rem;
    }
}

.imagenFondo{
    background-image: url(../recursos/flag-of-argentina.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    .main__titulo{
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: x-large;
        margin-bottom: 10px;
        color: black;
    }
}

.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    text-align: center;   
    align-items: center;
    background-color:rgba(17, 16, 16, 0.2);
    margin:auto;
    padding: 1rem;
    width:25rem;
    border-radius: 20px;
    .main__formularioNombre{
        width: 23rem;
        margin: 1rem;
        height: 5vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        border: none;
        text-align: center;
        border-radius: 0.5rem;
    }
    .main__formularioMail{
        width: 23rem;
        margin: 1rem;
        height:5vh;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        text-align: center;
        border-radius: 0.5rem;
    }
    .main__formularioTelefono{
        width: 23rem;
        margin: 1rem;
        height: 5vh;
        border:none;
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        text-align: center;
        border-radius: 0.5rem;
    }
    .main__formularioComentario{
        width:24rem;
        background-color: white;
        text-align: center;
        border:none;
        margin:1rem;
        min-height: 100px;  
        max-height: 200px;
        max-width: 23rem; 
        border-radius: 0.5rem;   
    }
    label{
        color: rgb(240, 255, 242);
        font-family: Arial, Helvetica, sans-serif;
    }
    .main__formularioNewsletter{
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
    }
    .main__boton{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center; 
    }
    .main__enviar{
        width: 18rem;
        font-size: medium;
        background-color: $color-btn-consulta;
        margin: 10px;
        border-radius: 7rem;
    }
    .main__enviar:hover{
        transform: scale(1.2);
        background-color: $color-enviar-hover;
    }
    .main__limpiar{
        width: 18rem;
        font-size: medium;
        background-color: $color-btn-consulta;
        margin: 10px;
        border-radius: 7rem;
    }
    .main__limpiar:hover{
        transform: scale(1.2);
        background-color: $color-limpiar-hover;
    }
}

.envios{
    background: $color-envios;
    background: -moz-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: -webkit-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1); 
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    &__titulo{
        display: flex;
        text-align: center;
        flex-direction: row-reverse;   
        margin-bottom: 4rem;
    }
}

.grid__historia{
    display: grid;   
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(126,160,180);
    background: -moz-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: -webkit-linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    background: linear-gradient(90deg, rgba(126,160,180,1) 0%, rgba(244,244,244,1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ea0b4",endColorstr="#f4f4f4",GradientType=1); 
    border-radius: 2rem;
    gap: 1 rem;  
    padding: 2rem;
    font-size:1rem;
    margin: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "imagen textouno textodos"
    "textotres textotres textotres"
    "imagendos imagentres imagencuatro";
    text-align:center;
} 

.img__ferreteria{
    grid-area: imagen;
    border-radius: 2rem;
    width: 20vw;
}

.grid__historiauno{
    grid-area: textouno;
}

.grid__historiados{
    grid-area: textodos;
}

.grid__historiatres{
    grid-area: textotres;
}

.gridhistoria__imagenesDos{
    grid-area: imagendos;
    border-radius: 2rem;    
}

.grid__cinco{
    width: 20vw;    
}

.gridhistoria__imagenesTres{
    grid-template-columns: imagentres;
    border-radius: 2rem;
}

.grid__seis{
    width: 20vw;
}

.gridhistoria__imagenesCuatro{
    grid-area: imagencuatro;
    border-radius: 2rem;
}
.grid__siete{
    width: 20vw;
}

.titulo__producto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;   
}

.img-fluid{
    border-radius: 2rem;  
    
}
.definicionProducto{
    text-align:justify  ;
}  
.boton__Producto{
    margin-left: 3rem;
    border-radius: 1rem;
    width: 10vw;
} 

@import 'mediaqueries';

